<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.5)), url(https://res.cloudinary.com/sanderboogaards/image/upload/v1629454328/pexels-donald-tong-109669_rgnlni.jpg);">
  <div class="container">
    <h1>Save all your favorite movies</h1>
    <p>Always know what you want to see!</p>
    <%= link_to "Create your list", new_list_path, class: "btn btn-gradient" %>
  </div>
</div>

<br>
<div class="container">
  <div class="cards">
    <% @lists.each do |list| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)), url('<%= cl_image_path list.photo.key, height: 200, crop: :fill %>')">
        <%= "#{list.name}"%>
        <a href="/lists/<%= "#{list.id}"%>" class="stretched-link"></a>
      </div>
    <% end %>
  </div>
</div>
