<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.5)), url(https://res.cloudinary.com/sanderboogaards/image/upload/v1629454328/pexels-donald-tong-109669_rgnlni.jpg); height: 300px;">
  <div class="container">
    <h1>Add a new movie</h1>
  </div>
</div>

<div class="container">
  <%= simple_form_for [@list, @bookmark] do |f| %>

    <div class="form-group mt-5">
      <%= f.input :comment %>
      <%= f.association :movie %>
    </div>

    <div class="btn btn-flat">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
